<div id="home-container" class="container-fluid d-flex align-items-center justify-content-center" style="min-height: 80vh; position: relative; background-image: url('../thumb-1920-1042582.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="row w-100">
        <div class="col-md-12 text-center text-white" style="background: rgba(44, 44, 44, 0.6); padding: 2rem; border-radius: 1rem;">
            <h1>Bienvenido a la pagina principal</h1>
            <p>Somos la libreria del instituto 2!!</p>
        </div>
    </div>
</div>